<h1>Home#index</h1>


<p>
  <% if !@swe.nil? %>
    SWAP has been activated. Vouchers will be issued for the period:  <%= @swe.start_date.to_formatted_s(:long) %> to <%= @swe.end_date.to_formatted_s(:long) %> (<%= @swe.duration %> days)
  <% else %>
    SWAP is currently inactive.
  <% end %>
</p>
