<h1>Sandbox</h1>

<ul>
    <li><%= link_to 'Test Rendering React Component' , sandbox_hello_react_path %></li>
    <li><%= link_to 'React HTML5 Camera Photo Component' , sandbox_photo_path %></li>
<ul>
