<h1>Tests#index</h1>
<p>Find me in app/views/tests/index.html.erb</p>

<ul>
    <li><%= link_to 'Test Rendering React Component' , 'tests/hello_react' %></li>
    <li><%= link_to 'React HTML5 Camera Photo Component' , tests_photo_path %></li>
<ul>
